<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="header">
       
         <h1>Doctors-Cart</h1>
       
    </div>
    <div> <img src="/img/logo.jfif" alt="" id="logo"> </div>
    <div>
        <form action="form" class="loginform">
        <h1>login
    
        </h1>
        <input type="name" placeholder="Username" id="input"><br>
        <input type="text" placeholder="Password" id="input"><br>
        <button id="btn">submit</button>
        </form>>
    </div>
   
     <div class="img"> <img src="/img/doctors.jpeg" alt=""  id="img2">
     
     </div>
    <style>
    body{
        margin:0%;
        padding:0%;
    }
    .loginform{
        position: absolute;
       
        background-color: aqua;
        width: 250px;
        height: 230px;
        padding: 20px;
        margin-left: 600px;
        margin-top: 90px;
        border-radius: 5px;
        box-shadow: 5px 5px gray;
        text-align: center;

        
    }
    #input{
        font-size: 15px;
        font-size: bold;
        color: red;
       
        margin:15px;
    }
    #btn{
       text-align: center;
        margin: 20px;

    }
    #btn:hover{
        background-color: brown;
        cursor: pointer;
    }
    .header{
        border: 1px solid;
        width: 1700px;
        background-color: aliceblue;
        text-align: center;
        height: 150px;
        font-size: 35px;
        font-weight: bold;
        color: blue;


    }
    .img{
        position: absolute;
        top: 250px;
        left: 250px;
       
    }
    #img2{
        width: 140%;
        height: 140%;
    }
    #logo{
        position: absolute;
        width: 15%;
        height: 15%;
        top: 45px;
       
        margin-left: 20px;
        background-color: aliceblue;
    }
   
    </style>
    
</body>
</html>